* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
}


/* -------------------------------------  HEADER  ------------------------------------------------------ */

.header {
    background-color: white;
    width: 100%;
    height: 6.0rem; 
}


.header_nav {
    display: flex;
    justify-content: flex-end;
    width: 99%;
    height: 6.0rem; 
}


.header_nav__ul {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 22.0rem;
    height: 5.8rem; 
}


.header__li {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3.5rem;
    height: 3.5rem;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}


.header__li a {
    text-decoration: none;
    color: black;
}

.header__li a:hover {
    text-decoration: underline solid;
}

.header__li a:active {
    color: mediumslateblue;
}


.header__li__picture1, .header__li__picture2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
}


.header__li__picture1 img {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 2.7rem;
}

.header__li__picture1 img:hover {
    background-color: #e8e8e8;
}

.header__li__picture1 img:active {
    background-color: #cfcfcf;
}


.header__li__picture2 img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 2.7rem;
}

.header__li__picture2 img:hover {
    box-shadow: 0 0 0.3rem 0.3rem #d6d6d6;
} 

.header__li__picture2 img:active {
    box-shadow: 0 0 0.3rem 0.3rem #b3b3b3;
}


/* --------------------------------------  MAIN  ------------------------------------------------------ */

.main {
    background-color: white;
    width: 100%;
    height: 47.1em;
    display: flex;
    justify-content: center;
}


.main_article {
    width: 58.0rem;
    height: 30.0rem;
}


.main_article__section1__picture {
    height: 11.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main_article__section1__picture img{
    height: 9.3rem;
}


.main_article__section2 {
    width: 100%;
    height: 4.5rem;
    border-radius: 2.5rem;
    border: solid 0.1rem #c5c5c5;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.main-article__form {
    /* background-color: forestgreen; */
    width: 98%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.main-article__form input {
    width: 50.0rem;
    font-size: 1.8rem;
    border: none;
}


.img1 {
    height: 1.5rem;
}

.img2 {
    width: 2.2rem;
    height: 2.3rem;
}


.main_article__section3 {
    /* background-color: aliceblue; */
    height: 9.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
    background-color: #e8e8e8;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    width: 16.0rem;
    height: 3.5rem;
    margin-right: 1.0rem;
    border: none;
}


.main_article__section4 {
    display: flex;
    justify-content: center;
}


.main_article__section4 p{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 0.5rem;
}


.idiomas {
    text-decoration: none;
    color: blue;
}

/* -------------------------------------  FOOTER  ------------------------------------------------------ */

.footer {
    background-color: #e8e8e8;
    width: 100%;
    height: 9.4rem;
}

.footer_section1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    border-bottom: solid 0.1rem #c5c5c5;
}

.footer_section1__p {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 4.8%;
    justify-content: flex-end;    
}


.footer_section2 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 95.2%;
    height: 50%;
}

.footer_section2__ul1 {
    display: flex;
    list-style: none;
    width: 36.7%;
    justify-content: space-between;
}


.section2__ul1__li {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}


.footer_section2__ul2 {
    display: flex;
    list-style: none;
    width: 21.7%;
    justify-content: space-between;
}

.section2__ul2__li {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}


.enlace {
    text-decoration: none;
    color: #535353;
}


.enlace:hover {
    text-decoration: underline;
}

.enlace:active {
    color: #858585;
}