
/* -----------------------------------  GENERAL  ----------------------------------------------------- */

:root {
    --letras_pequeñas: 1.3rem;
    --letras_medianas: 1.4rem;
    --color_fondo: white;
    --color_gris_claro: #f3f3f3;
    --color_gris_medio: #d8d8d8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


/* -------------------------------------  HEADER  ------------------------------------------------------ */

.header {
    background-color: var(--color_fondo);
    width: 100%;
    min-height: 6.0rem; 
}

.header_nav {
    display: flex;
    justify-content: flex-end;
    width: 99%;
    min-height: inherit; 
}

.header_nav__ul {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 22.0rem;
    height: 5.8rem; 
}


/* ------------ GMAIL & IMÁGENES ----------- */
.option {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3.5rem;
    height: 3.5rem;
    font-size: var(--letras_pequeñas);
    font-family: Arial, Helvetica, sans-serif;
}

.option a {
    text-decoration: none;
    color: black;
}

.option a:hover {
    text-decoration: underline solid;
}

.option a:active {
    color: mediumslateblue;
}


/* ------------ APLICACIONES ----------- */
.option_picture1, .option_picture2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
}


.option_picture1 img {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 2.7rem;
}

.option_picture1 img:hover {
    background-color: #e8e8e8;
}

.option_picture1 img:active {
    background-color: #cfcfcf;
}


/* ------------ CUENTA DE GOOGLE ----------- */
.option_picture2 img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 2.7rem;
}

.option_picture2 img:hover {
    box-shadow: 0 0 0.3rem 0.3rem #d6d6d6;
} 

.option_picture2 img:active {
    box-shadow: 0 0 0.3rem 0.3rem #b3b3b3;
}


/* --------------------------------------  MAIN  ------------------------------------------------------ */

.main {
    background-color: var(--color_fondo);
    width: 100%;
    height: 47.1em;
    display: flex;
    justify-content: center;
}

.main_article {
    width: 58.0rem;
    height: 30.0rem;
}


/* -------------- LOGO DE GOOGLE -------------- */
.main_article__section1__picture {
    height: 11.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main_article__section1__picture img{
    height: 9.3rem;
}


/* ---------------- BUSQUEDA ----------------- */
.main_article__section2 {
    width: 100%;
    height: 4.5rem;
    border-radius: 2.5rem;
    border: solid 0.1rem #c5c5c5;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.main-article__form {
    width: 98%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.main-article__form input {
    width: 50.0rem;
    font-size: 1.8rem;
    border: none;
}

.img1 {
    height: 1.5rem;
}

.img2 {
    width: 2.2rem;
    height: 2.3rem;
}


/* ------------------ BOTONES --------------- */
.main_article__section3 {
    height: 9.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: var(--color_gris_claro);
    font-size: var(--letras_medianas);
    border-radius: 0.5rem;
    width: 16.0rem;
    height: 3.5rem;
    margin-right: 1.0rem;
    border: none;
}


/* ------------------ IDIOMAS ------------------- */
.main_article__section4 {
    display: flex;
    justify-content: center;
}

.main_article__section4 p{
    font-size: var(--letras_pequeñas);
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 0.5rem;
}

.idiomas {
    text-decoration: none;
    color: blue;
}

.idiomas:hover {
    text-decoration: underline;
}

.idiomas:active {
    color: rgb(68, 68, 255);
}


/* -------------------------------------  FOOTER  ------------------------------------------------------ */

.footer {
    background-color: var(--color_gris_claro);
    width: 100%;
    height: 9.4rem;
}


/* ---------------- PAÍS ---------------- */
.footer_section1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    border-bottom: solid 0.1rem var(--color_gris_medio);
}

.footer_section1__p {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 4.8%;
    justify-content: flex-end;    
    color: #5f5f5f;
}


/* ------------- INFORMACIÓN ------------- */
.footer_section2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95.2%;
    height: 50%;
}


/* ------------ INFO. IZQUIERDA ----------- */
.footer_section2__ul1 {
    display: flex;
    list-style: none;
    min-width: 47.4rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section2__ul1__li {
    font-size: var(--letras_medianas);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    min-width: 6.5rem;
}


/* ------------- INFO. DERECHA ------------ */
.footer_section2__ul2 {
    display: flex;
    list-style: none;
    min-width: 28.3rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.enlace {
    text-decoration: none;
    color: #5f5f5f;
}

.enlace:hover {
    text-decoration: underline;
}

.enlace:active {
    color: #858585;
}